*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body{
    background-color: cyan;
}

.first{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background:cyan;
    
}

h1{
    text-align: center;
    margin-top: 10px;
}

h2{
    margin-bottom: 0;
    text-align: center;
    margin-top: 7px;

}

.wrapper{
    width: 900px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    margin-top: 5px;
}

.input-field{
    width: 100%;
    height:100px;
    padding: 0;
    align-content: flex-start;
    font-size:large;
}


.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span{
    position: relative;
}

.typing-text p span.correct{
    color:green;
}

.typing-text p span.incorrect{
    color:red;
    background-color: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active{
    color:blueviolet;
}

.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: blueviolet;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}

.content-box .content{
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 10px 0;
    color: rgb(8, 8, 8,);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: cyan;
    transition: transform 0.3s ease;
}

.content button:active{
    transform: scale(0.97);
}

.content .result-details{
    display:flex;
    width:calc(100%-140px);
    justify-content: space-between;
}

.result-details li{
    height: 22px;
    display: flex;
    list-style: none;
}

.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result-details p{
    font-size: 19px;
}

.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li:not(:first-child) span{
    font-weight: 500;
}

.result-details li b{
    font-weight: 500;
}